<div class="full">
  <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. Maria"
          formControlName="nome"
        />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Idade Incial</mat-label>
        <input matInput type="number" formControlName="faixaIdadeInicial" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Idade Final</mat-label>
        <input matInput type="number" formControlName="faixaIdadeFinal" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Sexo</mat-label>
        <mat-select formControlName="sexo">
          <mat-option value="">Todos</mat-option>
          <mat-option value="Masculino">Masculino</mat-option>
          <mat-option value="Feminino">Feminino</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="">Todos</mat-option>
          <mat-option value="DESAPARECIDO">DESAPARECIDO</mat-option>
          <mat-option value="ENCONTRADO">ENCONTRADO</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <button class="full" mat-raised-button color="danger">Limpar</button>
      <button class="full" mat-raised-button color="primary" type="submit">
        Buscar
      </button>
    </div>
  </form>
</div>
