<h1 mat-dialog-title>Qualquer informação é válida</h1>
<div mat-dialog-content>
  <p>Conte-nos o sabe:</p>
  <div
  fxLayout="row"
  fxLayout.gt-sm="row wrap"
  fxLayout="column"
>
  <div fxFlex="50" fxFlex.gt-sm="50" class="field" >
  <mat-form-field>
    <mat-label>Local</mat-label>
    <input matInput [(ngModel)]="data.local">
  </mat-form-field>
  </div>
  <div fxFlex="50" fxFlex.gt-sm="50" class="field" >
  <mat-form-field>
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.date">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div fxFlex="100" fxFlex.gt-sm="100" class="field" >
  <mat-form-field>
    <mat-label>Informações adicionas</mat-label>
    <textarea matInput [(ngModel)]="data.info" matTextareaAutosize matAutosizeMinRows="3"
            matAutosizeMaxRows="5"></textarea>
  </mat-form-field>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.animal" (click)="enviarInfo()" cdkFocusInitial>Enviar</button>
</div>